<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div>
        <div class="ball">
            <span class="info">Y: 0, G: 0</span>
        </div>
        <div class="ball2">
            <span class="info2">Y: 0, G: 0</span>
        </div>
    </div>
    
    <div class="showtable">
        <table>
            <thead>
              <tr>
                <th>Agent Name</th>
                <th></th>
                <th>Longitude</th>
                <th>Latitude</th>
              </tr>
            </thead>
            <tbody>
              <tr id="table-row">
                <td>&nbsp;Agent Dong Ding&nbsp;</td>
                <td></td>
                <td id="x-value"></td>
                <td id="y-value"></td>
              </tr>
              <tr id="table-row2">
                <td>&nbsp;Agent Ding Dong&nbsp;</td>
                <td></td>
                <td id="x-value2"></td>
                <td id="y-value2"></td>
              </tr>
            </tbody>
        </table>
    </div>
</body>
</html>